<footer class="py-3 my-4">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link px-2 text-white-50" %></li>
      <li class="nav-item"><%= link_to 'Posts', posts_path, class: "nav-link px-2 text-white-50" %></li>
      <li class="nav-item"><%= link_to 'Users', posts_path, class: "nav-link px-2 text-white-50" %></li>
      <li class="nav-item"><%= link_to 'FAQs', posts_path, class: "nav-link px-2 text-white-50" %></li>
      <li class="nav-item"><%= link_to 'About', posts_path, class: "nav-link px-2 text-white-50" %></li>
    </ul>
    <hr>
    <p class="text-center text-white-50">© 2021 Lobito.cl</p>
</footer>